.footer{
  background:$black;
  width: 100%;
  padding-block: 66px;
  box-sizing:border-box;

  &_menu{
    display:flex;
    justify-content:center;
    margin-bottom: 73px;
    ul{
      display:flex;
      justify-content:space-between;
      width: 50%;
      @media(max-width: 960px){
        flex-direction:column;
        align-items:center
      }
      li{
        @media(max-width: 960px){
          margin-bottom: 50px;
        }
        &:last-child{
          @media(max-width: 960px){
            margin-bottom: 0px;
          }
        }
        a{
          color:white;
          font-size:20px;
          @extend.fontRedSemiBold
        }
      }
    }
  }
  &_logo{
    display:flex;
    justify-content:center;
  }
}