.message{
    margin-bottom: 1rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;

    &_content{
        padding: 1.5rem 2rem;
        font-size: 1.2rem;
        background-color: var(--primary-color);
        color: $white;
        border-radius: 25px;
        text-align: center;
        padding: 1rem;
        @extend .paragraph;
        
    }
    & span{
        margin-top: 0.5em;
        font-size: 10px;
        color: var(--black-color);
        align-self: flex-end;
        @extend .paragraph;

    }
    &.you{
        align-self: end;
   }

   &.autre{
    align-self: start;

   }
}

.cardUser_right{
    h3{
        @extend .fontRedMedium;
    }
}