.primary_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 30px;
    gap: 10px;

    .nav_logoHeader{
        display: none;
    }
    .mobileNavToggle{
        display: none;
      }
    .nav_logoResponsive{
        display: none;
      }

    .primary_navigition{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin: 0;

        ul.liste{
        list-style-type: none;
        padding: 0px;
        z-index: 9999;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: auto;
        
        li.nav_item{
            padding: 10px;
            font-size: 18px;
            z-index: 9999;
            text-decoration: none;
            .nav_link{
                margin: 0;
                font-size: 20px;
                text-decoration: none; 
                color: var(--black-color); 
              }
            .nav_link:hover{
                color: var(--primary-color);
                border-bottom: 1px solid var(--primary-color);
                
              }
            }
        }
        ul.liste_iconsHome{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            padding: 0px;
            margin: auto;
            z-index: 9999;

            li.iconsHome{
                padding: 10px;
                font-size: 18px;
                z-index: 9999;
            }
        }
        ul.liste_iconsResponsive{
            display: none;
        }
    }
}


@media screen and (max-width: 768px){
    .primary_header{
        flex-direction: column;
        padding: 0;

        .nav_logoHeader{
            display: block;
            padding-top: 30px;
            text-align: center;
        }
        .mobileNavToggle{
            display: block;
            position: fixed;
            z-index: 9999;

            width: 2rem;

            border: 0;
            top: 2.5em;
            right: 2.5em;
          }
        .nav_logoResponsive{
            display: block;
            z-index: 9999;
            position: fixed;
            left: 2em;
            top: 2em;
          }
        .nav_logoHeaders{
            display: none;
        }

        .primary_navigition{
            flex-direction: column;
            inset: 0 0 0 20%;
            background: var(--white-color);

            justify-content: center;
            z-index: 9999;
            
            position: absolute;
            width: 80%;
            margin: 0;
            padding: 0;

            ul.liste{
            margin: 0;
            
            li.nav_item{
                padding: 10px;
                font-size: 18px;
                z-index: 9999;
                text-decoration: none;
                .nav_link{
                    margin: 0;
                    font-size: 20px;
                    text-decoration: none; 
                    color: var(--black-color); 
                  }
                .nav_link:hover{
                    color: var(--primary-color);
                    border-bottom: 1px solid var(--primary-color);
      
                  }
                }
            }
            
            ul.liste_iconsHome{
                display:none;
            }

            ul.liste_iconsResponsive{
                    display: block;
                    flex-direction: row;
                    list-style-type: none;
                    padding: 0px;
            }
        }
    }

}
