.container_nav{
    height: 100px;
}
.header{
    padding-block: 30px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    transition: 0;
    &.is_scroll{
        background: $white;
        .header_navbar_pictos ul li{
            background: $primary;
        }
    }
    &_navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        width: 95%;
        margin: 0 auto;
        @media (max-width: 1100px){
            max-width: 90%;
            width: 90%;
        }
        &_logo{
            &_desktop{
                display: flex;
                @media (max-width: 960px){
                    display: none;
                }
            }
            &_mobile{
                display: none;
                @media (max-width: 960px){
                    display: flex;
                }
            }
        }
        &_menu{
            ul{
                display: flex;
                justify-content: space-between;
                @media(max-width: 960px){
                    display: none;
                }
                li{
                    margin-inline: 30px;
                    a{
                        @extend .fontRedSemiBold;
                        color: $black;
                        font-size:20px;
                        &.active{
                            color: $primary;
                            border-bottom: 2px solid $primary;
                            padding-bottom: 3px;
                        }
                    }
                }
            }
            &_burgeur_button {
                display: none;
                flex-direction: column;
                justify-content: space-between;
                height: 25px;
                cursor: pointer;
                @media(max-width: 960px) {
                    display: flex;
                }

                &_bar {
                    width: 33px;
                    height: 4px;
                    border-radius: 20px;
                    background: $primary;
                }
            }
        }
        &_pictos{
            @media(max-width: 960px){
                display: none;
            }
            ul{
                display: flex;
                justify-content: space-between;
                z-index: 9999;
                li{
                    margin-inline: 20px;
                    border-radius: 100px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        stroke: rgb(255,255,255);
                    }
                }
            }
        }
    }
}

.container_nav_mobile{
    width: 0%;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 999;
    top: 0;
    display: flex;
    &.is_active{
        width: 100%;
    }
    &_background_black{
        width: 40%;
        background: rgba(0,0,0,0.5);
    }
    &_content{
        display: none;
        width: 60%;
        background: white;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-block: 20px;
        &.is_active{
            display: flex;
        }
        &_logo{
            margin-bottom: 63px;
        }
        &_pictos{
            margin-bottom: 73px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                margin-inline: 20px;
            }
        }
        &_menu{
            display: flex;
            flex-direction: column;
            nav{
                ul{
                    li{
                        margin-bottom: 50px;
                        font-size:20px;
                        @extend .fontRedSemiBold;
                        text-align: center;
                        a{
                            color: $black;
                            &.active{
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}