
.fontRedBold{
    font-family: 'RedHatDisplay-Bold';
}

.fontRedSemiBold{
    font-family: 'RedHatDisplay-SemiBold';
}

.fontRedMedium{
    font-family: 'RedHatDisplay-Medium';
}

.title-section-60{
    font-size: 60px;
}

.title-section-50 {
    font-size: 50px;
}

.title-section-40 {
    font-size: 40px;
}

.title-section-35 {
    font-size: 35px;
}

.title-section-30 {
    font-size: 30px;
}

.title-section-25 {
    font-size: 25px;
}

.paragraph {
    font-family: 'ClashGrotesk-Light';
    font-size: 15px;
    line-height: 18px;
}