.image{
  background: url(../image.png);
  transform: rotate(0.15deg);
  position: absolute;
  width: 1178.78px;
  height: 1303.87px;
  left: 1064.55px;
  top: -230.28px;

  &.title{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    color: #000000;
  }
  p{
    width: 660px;
    height: 78px;
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
  .button{
    width: 134px;
    padding: 10px;
    height: 40px;
    background: #F05454;
    border-radius: 2px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #FAFAFA;
  }
}
