.home_section_presentation{
  display: flex;
  justify-content: space-between;
  margin-top:120px;
  position: relative;
  margin-bottom: 400px;
  @media (max-width: 960px){
    flex-direction: column-reverse;
    margin-top:30px;
    margin-bottom: 70px;
  }
  &_text{
    width: 50%;
    padding-left: 2.5%;
    @media (max-width: 960px){
      width: 100%;
      padding-inline: 5%;

    }
    h1{
      @extend .title-section-60;
      @extend .fontRedBold;
      color: $black;
      margin-bottom: 40px;
    }
    p{
      @extend .paragraph;
      margin-bottom: 40px;
    }
    a{
      margin-bottom: 73px;
    }
    &_orange_important_text{
      color:$secondary;
    }
    &_red_important_text {
      color: $primary;
    }
    &_points_importants{
      display: flex;
      justify-content: space-between;
      width: 500px;
      @media (max-width: 960px){
        width: 100%;
      }
      @media (max-width: 600px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &_badge_item{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (max-width: 600px){
          margin-bottom: 80px;
        }
        &_red_background_picto{
          width: 100px;
          height: 100px;
          background: #F8D9D9;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          margin-bottom: 27px;
        }
        &_title{
          h6{
            font-size: 20px;
            color: $primary;
            @extend .fontRedMedium;
          }
        }
      }
    }
  }


  &_image{
    position: relative;
    width: 50%;

    @media (max-width: 960px){
      width: 50%;
    }
    &_desktop{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      @media (max-width: 960px){
        display: none;
      }
      position: absolute;
      top: -300px;
      right: 0;
      width: 90%;
      z-index: -1;
      img{
        width: 90%;
      }
    }
    &_mobile{
      display: none;
      position: relative;
      @media (max-width: 960px){
      }
      & img{
        position: absolute;
        left: 50%;
        top: -300px;
        transform: translate(-50%,-50%);
        z-index: -1;
      }
    }
  }
}

