.container_listing{
  margin-top:80px ;
  min-height: 35vh;
  padding-inline: 2.5%;
  display: grid;
  column-gap: 12%;
  row-gap: 50px;
  margin-bottom:160px ;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  @media (max-width: 1246px){
    gap: 6%;
  }
  &.account{
    padding-inline: 0;
    margin-bottom: 20px;
    min-height: min-content;
  }
  &.jobs{
    display: flex;
    overflow-x: auto;
    padding: 1em;
    width: 70%;
    position: relative;
    left:-1em;

    @include respond-to('xl') {
      width: 100%;
    }
  }
  @media (max-width: 860px) {
    grid-template-columns: repeat(1, 1fr);
  }
  &_not_found{
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: center;
    margin-top:0px ;

    h1{
      @extend .title-section-40;
      color: $black;
      @extend .fontRedSemiBold;
    }
  }
}

.title_project_listing{
  padding-inline: 2.5%;
  margin-top: 50px;
  h2{
    @extend .title-section-50;
    @extend .fontRedMedium;
    color: $black;
  }
}

.project_with_jobs_account{
  margin-bottom: 200px;
}

.content_his_project_title{
  margin-top: 50px;
  h3{
    @extend .title-section-30;
    @extend .fontRedSemiBold;
  }
}

.container_filter{
  margin-top: 30px;
  padding-inline: 2.5%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;

  @media(max-width: 960px){
    padding-inline: 5%;
  }
  select{
    padding-block: 8px;
    padding-inline: 2px;
    background: $white;
    color: $primary;
    font-size: 15px;
    @extend .fontRedMedium;
    border-radius: 5px;
    border-bottom: 0;
    width: 300px;
    @media(max-width: 1054px){
      width: 100%;
    }

  }
  .form_item{
    display: flex;
    flex-direction: column;
  }
  &_form{
    display: flex;
    justify-content: space-between;
    @media (max-width: 1300px){
      flex-direction: column;
    }
    &_select{
      display: flex;
      width: 60%;
      .form_item{
        margin-right: 50px;
        @media(max-width: 1054px){
          margin: 0;
          width: 25%;
        }
        @media (max-width: 720px){
          width: 100%;
        margin-bottom: 20px}
      }
      @media(max-width: 1054px){
        width: 100%;
        justify-content: space-between;
      }
      @media (max-width: 720px){
        flex-direction: column;
      }
    }
    &_search{
      width: 20%;
      @media (max-width: 1300px){
        width: 100%;
      }
    }
  }

}