.container_login{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  min-height: 80vh;
  &_box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 561px;

    @media(max-width: 800px){
      width: 100%;
      padding-inline: 5%;
    }
    &_form{
      .input{
        margin-bottom: 53px;
      }
      .input:last-child{
        margin-bottom: 20px;
      }
      .input_content{
        position:relative;

        div{
          position:absolute;
          right: 0;
          top: 50%;
          transform:translate(-0%, -50%)scale(0.8);
          svg{

          }
        }
      }
    }
    &_title{
      display:flex;
      justify-content:center;
      align-items:center;
      margin-bottom: 56px;
      h3{
        @extend.fontRedSemiBold;
        @extend.title-section-50;
      }
    }
    &_forgot_password{
      margin-bottom: 33px;
      a{
        color:$primary;
        @extend.fontRedMedium;
        font-size: 15px;
      }
    }
    &_buttons{
      display:flex;
      flex-direction:column;
      button{
        margin-bottom: 14px;
      }
    }
  }
}