.messenger{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_content{
        width: 100vw;
        height: 85vh;
        display: grid;
        border: 2px solid var(--grey-color);
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(5, 1fr);;
        grid-template-areas: "titre message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser toolbar toolbar toolbar toolbar";
        &_titre{
            grid-area: titre;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--grey-color);
        }

        &_listUser{
            grid-area: listUser;
            border: 2px solid var(--grey-color);
            overflow:auto
        }
        &_message{
            grid-area: message;
            overflow:autos
        }
        &_toolbar{
            grid-area: toolbar;
        }
        
    }

    &_list_user{
        height: 90%;
        background-color: red;
    }
}