.messenger{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_content{
        width: 80vw;
        height: 80vh;
        box-shadow: 0px 0px 5px 1px #00000055;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(5, 1fr);;
        grid-template-areas: "titre message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser message message message message"
                             "listUser toolbar toolbar toolbar toolbar";
        &_titre{
            grid-area: titre;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_listUser{
            grid-area: listUser;
        }
        &_message{
            grid-area: message;
        }
        &_toolbar{
            grid-area: toolbar;
        }
        
    }

    &_list_user{
        height: 90%;
        background-color: red;
    }
}