.templateContainer{
  margin: 30px;
  .containerZonFiltre{
    width: 100%;
      margin: 0;
      padding: 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 1px solid var(--black-color);
      border-bottom: 1px solid var(--black-color);
    .div-custom-select{
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: left;
      align-items: center;
  
      .custom-select{
        margin: 30px 30px 30px 0;
        p{
          font-size: 18px;
          font-family: Red Hat Display;
          margin: 0 0 5px 0;
        }
      }
      
      select{
        padding: 0 70px 0 0;
        color: var(--primary-color);
      }
    }
  }

  .searchInput{
    display: flex;
    align-items: center;

    input{
      font-family: Red Hat Display;
      padding: 10px 170px 0 0;
      color: var(--black-color);
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }
  .containerResults{
    margin: 4% 0 0 0;
    h1{
      font-size: 22px;
    }
    .search_results{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: row;
      font-family: 'Red Hat Display';
      justify-content: space-between;
      text-align: left;
      padding: 20px 0px;
      margin: auto;
  
      .template{
        width: 350px;
        padding: 0;
        margin: 10px 50px 10px 0;
        justify-content: space-between;
        border: 1px solid var(--grey-color);
        border-radius: 24px;
        position: relative;
        
        .buttonsSurImgs{
          position: absolute;
          right: -14%;
          top: 32%;
          background-color: var(--primary-color);
          color: var(--white-color);
          padding: 10px 15px;
          border: 0;
        }
        .imgProjet{
          width: 100%;
          display: block;
          margin: 0;
          padding: 0;
        }
        .container_text{
          padding: 20px;
          h2{
            font-size: 18px;
            .titleRed{
              color: var(--primary-color);
            }
          }
          .paragraphe{
            margin: 15px 0;
          }
          h3{
            font-size: 14px;
          }
          ul{
            padding-left: 22px;
            margin: 15px 0;
            ::marker {
              color: var(--primary-color);
              margin-right: 10px;
            }
          }
          .button_projet{
            background-color: var(--primary-color);
            color: var(--white-color);
            padding: 10px 15px;
            margin: 0;
            border: 0;
    
            .arrow_button{
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .templateContainer{
      margin: 0 3% 3% 3%;
      .containerZonFiltre {
        flex-wrap: wrap;
        flex-direction: column;
        .div-custom-select {
          justify-content: center;
          .custom-select {
            margin: 10px;
          }
        }
      }
      .containerResults{
        .search_results {
          flex-flow: column wrap;
          .template{
            margin: 10px auto;
        }
      } 
    }
  }
}

@media screen and (max-width: 425px){
  .templateContainer{
      margin: 0 2% 3% 2%;
      .containerZonFiltre {
        .div-custom-select {
          flex-direction: column;
        }
      }
      .containerResults{
        .search_results {
          flex-flow: column wrap;
          .template{
            .buttonsSurImgs {
              position: absolute;
              right: 0%;
              top: 47%;
        }
      } 
    }
  }
}

}

